/* Estilos generales */
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para el contenedor principal*/
#app{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0px ,rgba(0, 0, 0, 0.1);
}

/*Estilos para el formulario*/
form {
    display: flex;
    justify-content: space-between;
}

/* Estilos al input */
input{
    width: 75%;
    padding: 8px;
    margin-right: 10px;
    border:1px solid #ddd;
    border-radius: 3px;
}

/* Estilos al botón */
button{
    margin: 0 50px;
    position: relative;
    padding: 10px  20px;
    background-color: #007bff;
    color :coral(255,255,255,.4);
    text-transform: uppercase;
    border:none;
    border-radius: 3px;
    letter-spacing: 2px;
    cursor: pointer;
    overflow: hidden;
    transition: .3s;

}
button samp{
    position: absolute;
    width: 100%;
    height: 100px;
    border-radius: 50%;
    background: #007bff( 38,184,221,.2);
top:-50%;
left:-100%;
transition: .3s;

}

button:hover span{

    left: -10%;
}

button:hover{

    color:white;
    background-color: cornflowerblue;
    box-shadow: 0 5px  coral; 0 ,0,0..7;

}
 /* Estilos de lista */
 ul{
    list-style: none;
    padding: 0;
 }

 /* Estilos a los elementos de  la lista */
 li{
    background-color: #f4f4f4;
    padding: 10px;
    border: 10px;
    border:1px solid #ddd;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 /* Estilos para cuando una tarea este completada*/
 li.completed{
    text-decoration: line-through;
    color:#888;
    
 }